<div class="conatiner "  >
  <br><br><br><br>
  <div class="col-md-16 " style="background-color:lightgray" >
    <button class="btn btn-success"><i class="fa fa-plus"> Add New</i></button>
   
<card cardTitle='Search '  isCollapse="true"  class="card-header">
  

  <form role="form " >

    <div class="row">
      <div class="col-sm-4">
    <div class="form-group " >
    
       
      <label for="Username"> number </label>
      <input type="text" class="form-control-a-alternative" p
      laceholder="" ><button type ="button"><i class="fa fa-search "></i></button>
    
    </div>
    </div>
    
    
      <div class="col-sm-4">
    <div class="form-group " >
       <label for="">Name</label>
      <input type="text" class="form-control-a-alternative"  >
      </div>
    </div>


    <div class="col-sm-4">
      <div class="form-group " >
         <label for="">Parent Account</label>
        <select name="buyer" id="">
          <option value="inhouse">1200020 City Ledger</option>
        
        </select>
        </div>
      </div>
    
    </div>



    <!--status-->
    <div class="row">
      <div class="col-sm-4">
    <div class="form-group " >
    
       
      <label for="Username">Aging base date </label>
      <select name="buyer" id="">
        <option value="inhouse">Invoice Generation Date</option>
        <option value="inhouse">Reservation Checkout Date</option>
      
      </select>
    
    </div>
    </div>
    
    
     

    <div class="col-sm-4">
      <div class="form-group " >
        <label for="from">Days before aging</label>
        <input type="number"value ="0">
          
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group " >
          <label for="from">Profile</label>
          <input type="text" class="form-control-x-alternative">
            
          </div>
        </div>
</div>

   <button type="submit" class="btn btn-info" style="float: right;">Search</button>


    </form>

</card>

<card cardTitle='Rooms '  isCollapse="true">
  <form role="form " >
    <table class="table table-responsive" >
      <thead >
        <tr>
          <th>Number *</th>
          <th>Name</th>
          <th>Profile</th>
          <th>Balance</th>
          <th>on-Hold balance</th>
          <th>Total</th>
         
          <!-- <th>Comments</th> -->
         
        </tr>
      </thead>
      <tbody>
        <tr>
        <td style="font-weight: bold;">
          1
        </td>
        <td style="font-weight: bold;"> 
       Travel-Agency
      </td>
      
        <td style="font-weight: bold;">
        channel 1
        </td >
        <td style="font-weight: bold;">  
        0
        </td >
        <td style="font-weight: bold;"> 
          0
        </td >

        <td>0</td>
      </tr>
 
      </tbody>
      
    </table>


 
    </form>

</card>

</div>
</div>