<div class="conatiner "  >
<br><br><br><br>
  <div class="col-md-16 " >
  
  
    <button class="btn btn-success"  ><i class="fa fa-plus" routerLink="/inventory/add-purchase-request" > Add New</i></button>
<card cardTitle='Search '  isCollapse="true"  class="card-header">
  
  
  <form role="form " >

    <div class="row">
      <div class="col-sm-4">
    <div class="form-group " >
    
       
      <label for="Username">File number </label>
      
      <input type="text" class="form-control-a-alternative" placeholder="room type" ><button type ="button"><i class="fa fa-search "></i></button>
    
    </div>
    </div>
    
    
      <div class="col-sm-4">
    <div class="form-group " >
       <label for="">Description</label>
      <input type="text" class="form-control-a-alternative"  >
      </div>
    </div>


    <div class="col-sm-4">
      <div class="form-group " >
         <label for="">Buyer</label>
        <select name="buyer" id="">
          <option value="inhouse">k@gmail.com</option>
          <option value="vacant">kofi@gmail.com</option>
        </select>
        </div>
      </div>
    
    </div>



    <!--status-->
    <div class="row">
      <div class="col-sm-4">
    <div class="form-group " >
    
       
      <label for="Username">Number </label>
      <input type="text" class="form-control-a-alternative"  >
    
    </div>
    </div>
    
    
      <div class="col-sm-4">
    <div class="form-group " >
      <label for="from">From Date </label>
      <input type="date">
        
      </div>
    </div>

    <div class="col-sm-4">
      <div class="form-group " >
        <label for="from">To Date </label>
        <input type="date">
          
        </div>
      </div>
</div>

  


   <button type="submit" class="btn btn-info" >Search</button>
 


  


    </form>

      
   
</card>

<card cardTitle='Purchase Request '  isCollapse="true">
  <form role="form " >
    <table class="table table-responsive" >
      <thead >
        <tr>
          <th>Number *</th>
          <th>Description</th>
          <th>Date*</th>
          <th>Buyer</th>
          <th>Status</th>
         
          <!-- <th>Comments</th> -->
         
        </tr>
      </thead>
      <tbody>
        <tr>
        <td style="font-weight: bold;">
          1
        </td>
        <td style="font-weight: bold;"> 
         order
      </td>
      
        <td style="font-weight: bold;">
         2020-09-01
        </td >
        <td style="font-weight: bold;">  
          Kings
        </td >
        <td style="font-weight: bold;"> 
          Pending approval
        </td >
      </tr>
 
      </tbody>
      
    </table>


 
    </form>

</card>

</div>
</div>