


<div class="conatiner " >

  <div class="col-md-8 " >
    <card cardTitle='Add New Todo' isCollapse="true">
   

<form role="form " >
  <div class="row">
  <div class="col-sm-4">
  <div class="form-group ">
    <label for="name" >Action  Name </label>
    <input type="text"  style="width : 100%; " class="form-control" id="psw" placeholder="first name">
  </div>
</div>

<div class="col-sm-4">
  <div class="form-group ">
    <label for="name" >time </label>
    <input type="time"  style="width: 100%; " class="form-control" id="psw" placeholder="last name">
  </div>
</div>


</div>



<div class="form-group text-left " >
  <label for="gender">Worker </label>
 <br>  
 <select name="worker" id="" style="width: 25%;">
   <option value="">Kob</option>
 </select>
</div>






 
    <button type="submit" class="btn btn-success" style="width: 50%;text-align: center;">
      <span class="glyphicon glyphicon-ok"> Add  Todo </span>
    </button>
</form>
</card>
</div>




</div>
