<div class="conatiner "  >
<br><br><br><br>
  <div class="col-md-16 " style="background-color:lightgray" >
    
 
<card cardTitle='Search '  isCollapse="true"  class="card-header">
  <button class="btn btn-success" style="float: right;"><i class="fa fa-plus"> Add New</i></button>
  <br><br>
  <form role="form " >

    <div class="row">
      <div class="col-sm-4">
    <div class="form-group " >
    
       
      <label for="Username">Name </label>
      <input type="text" class="form-control-a-alternative"  ><button type ="button"><i class="fa fa-search "></i></button>
    
    </div>
    </div>
    
    
      <div class="col-sm-4">
    <div class="form-group " >
       <label for="">Number</label>
      <input type="text" class="form-control-a-alternative"  >
      </div>
    </div>

    <div class="col-sm-4">
      <div class="form-group " >
         <label for="">Arabic Name</label>
        <input type="text" class="form-control-a-alternative"  >
        </div>
      </div>
      </div>


   <button type="submit" class="btn btn-info" style="float: right;">Search</button>


    </form>

</card>

<card cardTitle='Account Families '  isCollapse="true">
  <form role="form " >
    <table class="table table-responsive" >
      <thead >
        <tr>
          <th>Number *</th>
          <th>Number</th>
          
         
          <!-- <th>Comments</th> -->
         
        </tr>
      </thead>
      <tbody>
        <tr>
        <td style="font-weight: bold;">
          Rooms
        </td>
        <td style="font-weight: bold;"> 
          1
      </td>
      
      
      </tr>
 
      </tbody>
      
    </table>


 
    </form>

</card>

</div>
</div>