
input[type=text], input[type=password], input[type=date],
input[type=number],input[type=email     ],select {
    
    padding: 1px;
  
  
    border-radius: 0px;
   
    width: 100%;
  
    border: 1px solid lightgrey;

    
  }
  label{
     
      font-size: medium;
  }
  