<div class="todolist-wrap">
  <card cardTitle='Upcoming Todo' isCollapse="true" style="text-align: left;">
<table class="table" style="width: 100%;">

 
    <thead>
      <tr>
    <th>Action</th>
    <th>Time</th>
   
    

    </tr>
</thead>
    
<tbody>
  <tr>
      <td >Call cleaning Bank</td>
      <td class="text-danger">12:30pm <i class="fa fa-edit fa-fw text-warning "></i><i class="fa fa-trash fa-fw"></i></td>
   
    </tr>

    <tr>
      <td >Monthly Charges</td>
      <td class="text-danger">3/11/2022</td>
    </tr>

    
  </tbody>
</table>
</card>
</div>
