<div class="conatiner "  >
  <br><br><br><br>
    <div class="col-md-16 " style="background-color:linen;" >
    
    
  
  <card cardTitle='Search '  isCollapse="true"  class="card-header">

    
    <form role="form " >
  
      <div class="row">
        <div class="col-sm-4">
      <div class="form-group " >
      
         
        <label for="Username">File number </label>
        <input type="text" class="form-contorl-x-alternative" placeholder="room type" ><button type ="button"><i class="fa fa-search "></i></button>
      
      </div>
      </div>
      
      
        <div class="col-sm-4">
      <div class="form-group " >
         <label for="">Description</label>
        <input type="text" class="form-contorl-x-alternative"  >
        </div>
      </div>
  
  
      <div class="col-sm-4">
        <div class="form-group " >
           <label for="">Buyer</label>
          <select name="buyer" id=""  class="form-contorl-x-alternative">
            <option value="inhouse">k@gmail.com</option>
            <option value="vacant">kofi@gmail.com</option>
          </select>
          </div>
        </div>
      
      </div>
  
  
  
      <!--status-->
      <div class="row">
        <div class="col-sm-4">
      <div class="form-group " >
      
         
        <label for="Username">Number </label>
        <input type="text" class="form-contorl-x-alternative"  >
      
      </div>
      </div>
      
      
  </div>
  

  
      </form>
  
  </card>
  

    <form role="form " >
      <table >
        <thead >
          <tr>
            <th>Select </th>
            <th>Item *</th>
            <th>Store</th>
            <th>Qty</th>
            <th>Unit</th>

            <th>Ordered qty </th>
            <th>Received qty *</th>
            <th>Delivery Date</th>
            <th>Unit Price</th>
            <th>Discount</th>
            
            <th>Total</th>

            <th>Vendor</th>

            <th>Available qty</th>
            <th>Minimum qty</th>
            
            <th>Maximum qty</th>
            <th>Delete</th>
           
           
            <!-- <th>Comments</th> -->
           
          </tr>
        </thead>
        <tbody>
          <tr>
          <td>
            <div class="form-group">
            <input type="checkbox">
            </div>
          </td>
          <td>
            <div class="form-group">
             <input type="text" class="form-contorl-x-alternative" style="width: 70%;"><button type="button"
             >
            <i class ="fa fa-plus"  data-toggle="modal" data-target="#myModal"></i></button>
          </div>
          </td>
          <td> 
            <div class="form-group">
              <input type="text" class="form-contorl-x-alternative" style="width: 70%;"><button type="button"
              >
                <i class ="fa fa-plus"  data-toggle="modal" data-target="#myModal"></i></button>
        </div>
        </td>
        
          <td>
            <div class="form-group">
            <input type="number" value="0" >
          </div>
          </td>
          <td>  <div class="form-group">
            <select name="room-state" id="" class="form-contorl-x-alternative" >
              <option value="0">------</option>
              <option value="01" >choose</option>
            </select>
          </div></td>
          <td> <div class="form-group">
            <input type="number" value="0.0" >
            </div>
          </td>
          <td>
          <div class="form-group">
            <input type="number" value="0.0" >
            </div>
          </td>
          <td>
            <div class="form-group">
              <input type="date" >
              </div>
          </td>
          <td> <div class="form-group">
            <input  type="number" value="0.0" class="form-control" >
            </div>
          </td>

          <td> <div class="form-group">
            <input type="number" value="0.0">
            </div>
          </td>
          <td> <div class="form-group">
            <input type="number" value="0.0" >
            </div>
          </td>
          <td><div class="form-control">
            mff
          </div></td>
          <td> <div class="form-group" style="width:70%">
            <input type="number"  class="form-control" >
            </div>
          </td> 
          <td> <div class="form-group" style="width:70%">
            <input type="number"  class="form-control" >
            </div>
          </td>
          <td> <div class="form-group" style="width:70%">
            <input type="number" class="form-control" >
            </div>
          </td>

          <td> <div class="form-group" style="width:70%">
            <input type="checkbox" >
            </div>
          </td> 

        </tr>


<tr>

          <td>
            <div class="form-group">
            <input type="checkbox">
          </div>
          </td>
          <td>
            <div class="form-group">
            <input type="text" class="form-contorl-x-alternative" style="width: 70%;"><button type="button"
            >
            <i class ="fa fa-plus"  data-toggle="modal" data-target="#myModal"></i></button>
          </div>
          </td>
          <td> 
            <div class="form-group">
              <input type="text" class="form-contorl-x-alternative" style="width: 70%;"><button type="button"
              >
                <i class ="fa fa-plus"  data-toggle="modal" data-target="#myModal"></i></button>
        </div>
        </td>
        
          <td>
            <div class="form-group">
            <input type="number" value="0" >
          </div>
          </td>
          <td>  <div class="form-group">
            <select name="room-state" id=""  class="form-contorl-x-alternative">
              <option value="0">------</option>
              <option value="01" >choose</option>
            </select>
          </div></td>
          <td> <div class="form-group">
            <input type="number" value="0.0" >
            </div>
          </td>
          <td>
          <div class="form-group">
            <input type="number" value="0.0" >
            </div>
          </td>
          <td>
            <div class="form-group">
              <input type="date" >
              </div>
          </td>
          <td> <div class="form-group">
            <input  type="number" value="0.0" class="form-control" >
            </div>
          </td>

          <td> <div class="form-group">
            <input type="number" value="0.0">
            </div>
          </td>
          <td> <div class="form-group">
            <input type="number" value="0.0" >
            </div>
          </td>
          <td><div class="form-control">
            mff
          </div></td>
          <td> <div class="form-group" style="width:70%">
            <input type="number"  class="form-control" >
            </div>
          </td> 
          <td> <div class="form-group" style="width:70%">
            <input type="number"  class="form-control" >
            </div>
          </td>
          <td> <div class="form-group" style="width:70%">
            <input type="number" class="form-control" >
            </div>
          </td>

          <td> <div class="form-group" style="width:70%">
            <input type="checkbox" >
            </div>
          </td> 


        </tr>

           <tr>
          <td>
            <div class="form-group">
            <input type="checkbox"></div>
          </td>
          <td>
            <div class="form-group">
            <input type="text" class="form-contorl-x-alternative" style="width: 70%;"><button type="button"
            >
            <i class ="fa fa-plus"  data-toggle="modal" data-target="#myModal"></i></button>
          </div>
          </td>
          <td> 
            <div class="form-group">
              <input type="text" class="form-contorl-x-alternative" style="width: 70%;"><button type="button"
              >
                <i class ="fa fa-plus"  data-toggle="modal" data-target="#myModal"></i></button>
        </div>
        </td>
        
          <td>
            <div class="form-group">
            <input type="number" value="0" >
          </div>
          </td>
          <td>  <div class="form-group">
            <select name="room-state" id=""  class="form-contorl-x-alternative">
              <option value="0">------</option>
              <option value="01" >choose</option>
            </select>
          </div></td>
          <td> <div class="form-group">
            <input type="number" value="0.0" >
            </div>
          </td>
          <td>
          <div class="form-group">
            <input type="number" value="0.0" >
            </div>
          </td>
          <td>
            <div class="form-group">
              <input type="date" >
              </div>
          </td>
          <td> <div class="form-group">
            <input  type="number" value="0.0" class="form-control" >
            </div>
          </td>

          <td> <div class="form-group">
            <input type="number" value="0.0">
            </div>
          </td>
          <td> <div class="form-group">
            <input type="number" value="0.0" >
            </div>
          </td>
          <td><div class="form-control">
            mff
          </div></td>
          <td> <div class="form-group" style="width:70%">
            <input type="number"  class="form-control" >
            </div>
          </td> 
          <td> <div class="form-group" style="width:70%">
            <input type="number"  class="form-control" >
            </div>
          </td>
          <td> <div class="form-group" style="width:70%">
            <input type="number" class="form-control" >
            </div>
          </td>

          <td> <div class="form-group" style="width:70%">
            <input type="checkbox" >
            </div>
          </td> 
        </tr>



        <tr>
          <td>
            <div class="form-group">
            <input type="checkbox">
            </div>
          </td>
          <td>
            <div class="form-group">
             <input type="text" class="form-contorl-x-alternative" style="width: 70%;"><button type="button"
             >
            <i class ="fa fa-plus"  data-toggle="modal" data-target="#myModal"></i></button>
          </div>
          </td>
          <td> 
            <div class="form-group">
              <input type="text" class="form-contorl-x-alternative" style="width: 70%;"><button type="button"
              >
                <i class ="fa fa-plus"  data-toggle="modal" data-target="#myModal"></i></button>
        </div>
        </td>
        
          <td>
            <div class="form-group">
            <input type="number" value="0" >
          </div>
          </td>
          <td>  <div class="form-group">
            <select name="room-state"  class="form-contorl-x-alternative">
              <option value="0">------</option>
              <option value="01" >choose</option>
            </select>
          </div></td>
          <td> <div class="form-group">
            <input type="number" value="0.0" >
            </div>
          </td>
          <td>
          <div class="form-group">
            <input type="number" value="0.0" >
            </div>
          </td>
          <td>
            <div class="form-group">
              <input type="date" >
              </div>
          </td>
          <td> <div class="form-group">
            <input  type="number" value="0.0" class="form-control" >
            </div>
          </td>

          <td> <div class="form-group">
            <input type="number" value="0.0">
            </div>
          </td>
          <td> <div class="form-group">
            <input type="number" value="0.0" >
            </div>
          </td>
          <td><div class="form-group">
            mff
          </div></td>
          <td> <div class="form-group" style="width:70%">
            <input type="number"  class="form-control" >
            </div>
          </td> 
          <td> <div class="form-group" style="width:70%">
            <input type="number"  class="form-control" >
            </div>
          </td>
          <td> <div class="form-group" style="width:70%">
            <input type="number" class="form-control" >
            </div>
          </td>

          <td> <div class="form-group" style="width:70%">
            <input type="checkbox" >
            </div>
          </td> 

        </tr>



        </tbody>
      </table>
  
      <!-- <div class="row">
        <div class="col-sm-4"> -->
      <button class="btn btn-info" >Save and edit</button>
      <!-- </div>
      </div> -->
      
      <!-- <div class="col-sm-4"> -->
        <button class="btn btn-warning " >Save and add</button>
        <!-- </div>
        </div> -->
        
        <!-- <div class="col-sm-4"> -->
          <button class="btn btn-success" >Save</button>
          <!-- </div>
          </div>
          

  </div>
  
    -->
      </form>
  


      
  
  </div>
  </div>


  <div class="modal col-md-12" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
           <h4 class="modal-title" style="font-size: medium;">Add New Item</h4>
          <button type="button"
           class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body col-md-16" style="overflow: scroll;">
          <form role="form " >

            <div class="row">
              <div class="col-sm-4">
            <div class="form-group " >
            
               
              <label for="code"> Item group </label>
              <select name="" id="">
                <option value="0">-------</option>
                <option value="0">02</option>
                <option value="0">03</option>
              </select>
             
            
            </div>
            </div>
            
            
              <div class="col-sm-4">
            <div class="form-group " >
               <label for="from date">Type</label><br>
               <select name="" id="">
                <option value="0">-------</option>
                <option value="0">02</option>
                <option value="0">03</option>
              </select>
              </div>
            </div>
        
        
            <div class="col-sm-4">
              <div class="form-group " >
                 <label for="to date">Purchase request authoriazation level</label>
                 <select name="" id="">
                  <option value="0">-------</option>
                  <option value="0">02</option>
                  <option value="0">03</option>
                </select>
                </div>
              </div>
            
            </div>
        
        
        
            <!--status-->
            <div class="row">
              <div class="col-sm-4">
            <div class="form-group " >
            
               
              <label for="Username">Evaluation Price </label>
              <select name="" id="">
                <option value="0">Last purchase</option>
                <option value="0">Average per store</option>
                
              </select>
            
            </div>
            </div>
            
            
             
        
            <div class="col-sm-4">
              <div class="form-group " >
                <label for="serial">Number</label>
                <input type="text" class="form-contorl-x-alternative" placeholder="" >
                  
                </div>
              </div>
        
              <div class="col-sm-4">
                <div class="form-group " >
                  <label for="recuring">Description</label><br>
                  <input type="text" class="form-contorl-x-alternative" placeholder="" >
                  </div>
                </div>
             
        </div>
        
        
        
        
        <div class="row">
          <div class="col-sm-4">
        <div class="form-group " >
        
           
          <label for="gl period">Base Unit </label>
          <select name="" id="">
            <option value="0">---</option>
          
            
          </select>
        
        </div>
        </div>
        
        
         
        
        <div class="col-sm-4">
          <div class="form-group " >
            <label for="account">Store Unit</label>
            <select name="" id="">
              <option value="0">------</option>
             
              
            </select>
              
            </div>
          </div>
        
          <div class="col-sm-4">
            <div class="form-group " >
              <label for="recuring">Expires</label><br>
              <input type="text" class="form-control-x-alternative" value="0" >
                
              </div>
            </div>
         
        </div>
        
        
        
        
        
        
        <div class="row">
          <div class="col-sm-4">
        <div class="form-group " >
        
           
          <label for="from post date">Sales Price </label>
          <input type="text" class="form-control-x-alternative" value="0.0" >
                
        
        </div>
        </div>
        
        
         
        
        <div class="col-sm-4">
          <div class="form-group " >
            <label for="to posting date">Recipe</label>
            <select name="" id="">
              <option value="0">------</option>
             
              
            </select>
            </div>
          </div>
        
          <div class="col-sm-4">
            <div class="form-group " >
              <label for="system Locked">Open price</label><br>
             <input type="checkbox">
             
                
              </div>
            </div>
         
        </div>
        
        
        
        
        
        
        
        <div class="row">
          <div class="col-sm-4">
        <div class="form-group " >
        
           
          <label for="from post date">Voided </label>
          <select name="" id="">
            <option value="0">All</option>
            <option value="0">Yes</option>
            <option value="0">No</option>
          </select>
        
        </div>
        </div>
        
        
         
        
        <div class="col-sm-4">
          <div class="form-group " >
            <label for="to posting date">Open Item</label><br>
           <input type="checkbox">
              
            </div>
          </div>
        
          <div class="col-sm-4">
            <div class="form-group " >
              <label for="system Locked">Receiving Store</label><br>
              <select name="" id="">
                <option value="0">----</option>
               
              </select>
             
                
              </div>
            </div>
         
        </div>
        
     

        
        <div class="row">
          

          <div class="col-sm-4">
            <div class="form-group">
          
              <label for="">Default Usage</label>
                <select name="" id="">
                  <option value="0">------</option>
                 
                  
                </select>
            </div>
          </div>

        
        <div class="col-sm-4">
          <div class="form-group">
          <label for="">purchase order authorization level</label>
          <select name="" id="">
            <option value="0">0</option>
            <option value="0">1</option>
            <option value="0">2</option>
          </select>
        </div>
        </div>

  
        <div class="col-sm-4">
          <div class="form-group">
          <label for="">Extras</label>
          <select name="" id="">
            <option value="0">Condiment</option>
            <option value="0">Combo</option>
          
          </select>
        </div>
        </div>


        <div class="col-sm-4">
          <div class="form-group">
          <label for="">Last recieved date</label>
         <input type="text" class="form-contorl-x-alternative">
        
        </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group">
          <label for="">Last recieved price</label>
         <input type="text" class="form-contorl-x-alternative">
          
        </div>
        </div>

    <div class="col-sm-4">
          <div class="form-group">
          <label for="">Last recieved quantity</label>
         <input type="text" class="form-contorl-x-alternative">
         
        </div>
        </div>

        </div>
        
        <div class="row" style="float: right;">
          <div class="col-sm-4">
           <button type="submit" class="btn btn-info" style="float: right;">Search</button>
          </div>
        
        
           <div class="col-sm-4" >
            <button class="btn btn-success"  ><i class="fa fa-plus"> Add New</i></button>
           </div>
          </div>
        
        
            </form>
        
          
</div>


    
        
        <!-- Modal footer -->
         <div class="modal-footer">
          <!-- <button type="button"
             class="btn btn-danger" data-dismiss="modal">Close</button> -->
        
    </div>
  </div>


