
<div class="container col-md-8 ">
  
  <card cardTitle='Guest List' isCollapse="true" style="text-align: left;">
  
  <table class="table " style="width:80%; " id="myTable" >
  <thead>
    <tr>
     <th>Action</th>
     <th>Time</th>
     <th>Worker</th>
  
    </tr>
  </thead>
  
  <tbody>
    <tr>
      <td> Cleaning</td>
      <td>7:00am</td>
      <td>Larvel</td>
      
      <td><i class="fa fa-edit text-info"></i><i class="fa fa-trash text-danger"></i>  <a routerLink="/guest/view-details" class="btn btn-info ">View</a></td>
    </tr>
    <tr>
      <tr>
        <td> Laundary Service</td>
        <td>7:00am</td>
        <td>Power</td>
        
        <td><i class="fa fa-edit text-info"></i><i class="fa fa-trash text-danger"></i>  <a routerLink="/guest/view-details" class="btn btn-info ">View</a></td>
      </tr>
      <tr>
    </tr>
  </tbody>
  
  </table>
  </card>
  <!-- <script>
    $(document).ready( function () {
      $('#myTable').DataTable();
  } );
  </script> -->
  </div>
  
  