<div class="conatiner "  style="padding: 8%;">

  <div class="col-md-16 " style="background-color:lightgray" >
    
  

<card cardTitle='Search '  isCollapse="true"  class="card-header">
  <button class="btn btn-success" style="float: right;"><i class="fa fa-plus"> Add New</i></button>
  <form role="form " >

    <div class="row">
      <div class="col-sm-4">
    <div class="form-group " >
    
       
      <label for="description">Description </label>
      <input type="text" class="form-control-a-alternative"  >
    
    </div>
    </div>
    
    
      <div class="col-sm-4">
    <div class="form-group " >
       <label for="">Jv code</label>
       <select name="jv code" id="">
         <option value="0">------</option>
         <option value="1">01</option>
         <option value="2">02</option>
         <option value="3">03</option>
       </select>
      </div>
    </div>


    <div class="col-sm-4">
      <div class="form-group " >
         <label for="">File number</label>
         <input type="text" class="form-control-a-alternative"  >
        </div>
      </div>
    
    </div>



    <!--status-->
    <div class="row">
      <div class="col-sm-4">
    <div class="form-group " >
    
       
      <label for="Username">Usage Department </label>
      <input type="text" class="form-control-a-alternative"  ><button type="button"></button><i class="fa fa-search"></i>
    
    </div>
    </div>
    
    
      <div class="col-sm-4">
    <div class="form-group " >
      <label for="from">Requester </label>
      <select name="jv code" id="">
        <option value="0">------</option>
        <option value="1">buyKev</option>
        <option value="2">KDemo</option>
        <option value="3">tastqueen@mail.com</option>
      </select>
        
      </div>
    </div>

    <div class="col-sm-4">
      <div class="form-group " >
        <label for="from">Reviewer </label>
        <select name="jv code" id="">
          <option value="0">------</option>
          <option value="1">Shangai</option>
          <option value="2">Santra</option>
          <option value="3">kingsy@mail.com</option>
        </select>
          
        </div>
      </div>
</div>



 <div class="row">
  <div class="col-sm-4">
<div class="form-group " >

   
  <label for="Username">Status</label>
  <select name="jv code" id="">
    <option value="0">------</option>
    <option value="1">approved</option>
    <option value="2">rejected</option>
    <option value="3">pending</option>
    <option value="3">submitted</option>
  </select>
    
</div>
</div>


  <div class="col-sm-4">
<div class="form-group " >
  <label for="from">Serial </label>
   <input type="text" class="form-control-a-alternative">
    
  </div>
</div>

<div class="col-sm-4">
  <div class="form-group " >
    <label for="from">From Store </label>
   <input type="text" class="form-control-a-alternative">
    
      
    </div>
  </div>
</div>








<div class="row">
  <div class="col-sm-4">
<div class="form-group " >

   
  <label for="eaccount">Expense Account</label>
  <input type="text" class="form-control-a-alternative"><button type="button"></button><i class="fa fa-search"></i>
    
    
</div>
</div>


  <div class="col-sm-4">
<div class="form-group " >
  <label for="from">From date </label>
   <input type="date" class="form-control-a-alternative">
    
  </div>
</div>

<div class="col-sm-4">
  <div class="form-group " >
    <label for="from">To date </label>
   <input type="date" class="form-control-a-alternative">
    
      
    </div>
  </div>


  <div class="col-sm-4">
    <div class="form-group " >
      <label for="from">Item </label>
      <input type="text" class="form-control-a-alternative"><button type="button"></button><i class="fa fa-search"></i>
      
        
      </div>
    </div>
</div>


   <button type="submit" class="btn btn-info" style="float: right;">Search</button>


    </form>

</card>

<card cardTitle='Rooms '  isCollapse="true">
  <form role="form " >
    <table class="table table-responsive" >
      <thead >
        <tr>
          <th>Serial</th>
          <th>From Store</th>
          <th>Date*</th>
          <th>Usage Department</th>
          <th>Requester</th>
          <th>Status</th>
         
          <!-- <th>Comments</th> -->
         
        </tr>
      </thead>
      <tbody>
        <tr>
        <td style="font-weight: bold;">
          1
        </td>
        <td style="font-weight: bold;"> 
         Kitchen Store
      </td>
      
        <td style="font-weight: bold;">
         2020-09-01
        </td >
        <td style="font-weight: bold;">  
          Samosa
        </td >

        <td></td>
        <td style="font-weight: bold;"> 
         Rejected
        </td >
      </tr>
 
      </tbody>
      
    </table>


 
    </form>

</card>

</div>
</div>