<div class="row" style="position: fixed;">
  <div class="col-md-3 animated fadeIn" *ngIf="userinfoList[0].roles=='user'">
    <div class="card card-block tip-card" >
      <div class="tip-msg">
        <h3>Total Balance</h3>
        <span>$1000,000,000</span>
      </div>
      <button class="tip-ico tip-ico-primary">
        <i routerLink="/room/room-list" class="fa fa-money fa-fw"></i>
      </button>
    </div>
  </div>


  <div class="col-md-3 animated fadeIn" *ngIf="userinfoList[0].roles=='admin'">
    <div class="card card-block tip-card" >
      <div class="tip-msg">
        <h3>Users</h3>
        <span>0{{clientList.length}}</span>
      </div>
      <button class="tip-ico tip-ico-primary">
        <i routerLink="/room/room-list" class="fa fa-users fa-fw"></i>
      </button>
    </div>
  </div>


  <div class="col-md-3 animated fadeIn" *ngIf="userinfoList[0].roles=='user'">
    <div class="card card-block tip-card" >
      <div class="tip-msg">
        <h3>Cards</h3>
      <span>0</span>
      </div>
      <button class="tip-ico tip-ico-info">
        <i   routerLink="/guest/guest-list" class="fa fa-credit-card fa-fw"></i>
      </button>
    </div>
  </div>

  <div class="col-md-3 animated fadeIn"  *ngIf="userinfoList[0].roles=='admin'">
    <div class="card card-block tip-card">
      <div class="tip-msg">
        <h3>Transactions</h3>
      <span>$0</span>
      </div>
      <button class="tip-ico tip-ico-info">
        <i   routerLink="/guest/guest-list" class="fa fa-money fa-fw"></i>
      </button>
    </div>
  </div>

  <div class="col-md-3 animated fadeIn">
    <div class="card card-block tip-card">
      <div class="tip-msg">
        <h3>Mails</h3>
        <span>2 mails</span>
      </div>
      <button class="tip-ico tip-ico-success">
        <i class="fa fa-envelope fa-fw"></i>
      </button>
    </div>
  </div>
  <div class="col-md-3 animated fadeIn">
    <div class="card card-block tip-card">
      <div class="tip-msg">
        <h3>Feedback</h3>
        <span>20 feedbacks</span>
      </div>
      <button class="tip-ico tip-ico-danger">
        <i class="fa fa-warning fa-fw"></i>
      </button>
    </div>
  </div>
  
  <div class="col-md-8"  *ngIf="userinfoList[0].roles=='user'">
    <card cardTitle=' Transactions' isCollapse="true">
    
      <table class="table " style="width:80%; " id="myTable" >
      <thead>
        <tr>
         <th>First name</th>
         <th>Last name</th>
         <th>Amount</th>
         <td>Account Number</td>
         <th>Date</th>
         
         
        </tr>
      </thead>
      
      <tbody>
        <tr >
          <td> </td>
          <td></td>
          <td></td>
          <td></td>
          
          
        </tr>
        </tbody>
        </table>    

      

      
      
    </card>
  </div>






  <div class="col-md-8"  *ngIf="userinfoList[0].roles=='admin'">
  <card cardTitle=' Clients' isCollapse="true">
    <table class="table " style="width:80%; " id="myTable" >
    <thead>
      <tr>
       <th>Firstname</th>
       <th>Lastname</th>
       <th>Phone</th>
       <th>Account_number</th>
       <th>Address</th>
       <th>Balance</th>
       <th>Status </th>
       <th>Action</th>
      </tr>
    </thead>
    
    <tbody>
      <tr *ngFor="let item of clientList">
        <td> {{item.first_name}}</td>
        <td>{{item.last_name}}</td>
        <td>{{item.phone}}</td>
        <td>{{item.account_number}}</td>
        <td>{{item.address}}</td>
        <td>${{item.balance}}</td>
        <td>{{item.account_status}}</td>
        <td><i class="fa fa-edit text-info"></i><i class="fa fa-trash text-danger"></i>  <a routerLink="/guest/view-details" class="btn btn-info ">View</a></td>
      </tr>
      
    </tbody>
    
    </table>
    

    
    
  </card>
</div>

 <div class="col-md-4">
    <card cardTitle="Todo List" isCollapse="true">
      <du-todolist></du-todolist>
    </card>
  </div>
  <div class="col-md-6">
    <card>
      <profile></profile>
    </card>
  </div>
  <div class="col-md-6">
    <card>
      <weather></weather>
    </card>
  </div>
</div>
<button
  style="margin: 50px; padding: 10px;display: none;"
  type="button"
  class="btn btn-primary"
  (click)="openPopup()">
</button>
<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">System Message <i class="fa fa-exclamation fa-2x text-danger"></i></h4>
      </div>
      <div class="modal-body">
        <p style="font-weight:bold;font-size: large;">The user's account is currently Frozen,inactive or dorminant</p>
        <p style="font-size: large;">For help,please visit us at our branch :<i class="fa fa-home text-warning"></i>Los Angeles </p>
  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" 
                (click)="closePopup()">
          Close
        </button>
      </div>
    </div>
  </div>
</div>