<div class="conatiner "  >
<br><br><br><br>
  <div class="col-md-16 ">
  

<card cardTitle='Search '  isCollapse="true"  class="card-header">
  
  <form role="form " >

    <div class="row">
      <div class="col-sm-4">
    <div class="form-group " >
    
       
      <label for="Username"> Number </label>
      <input type="text" class="form-control-a-alternative"  ><button type ="button"><i class="fa fa-search "></i></button>
    
    </div>
    </div>
    
    
      <div class="col-sm-4">
    <div class="form-group " >
       <label for="">Vender</label>
      <input type="text" class="form-control-a-alternative"  >
      </div>
    </div>


    <div class="col-sm-4">
      <div class="form-group " >
         <label for="">Status</label>
        <select name="buyer" id="">
          <option value="01">--------</option>
          <option value="02">Pending</option>
          <option value="03">Partial</option>
          <option value="03">Approved</option>

        </select>
        </div>
      </div>
    
    </div>



    <!--status-->
    <div class="row">
      <div class="col-sm-4">
    <div class="form-group " >
    
       
      <label for="Username">File Number </label>
      <input type="text" class="form-control-a-alternative"  >
    
    </div>
    </div>
    
    
      <div class="col-sm-4">
    <div class="form-group " >
      <label for="from">From Date </label>
      <input type="date">
        
      </div>
    </div>

    <div class="col-sm-4">
      <div class="form-group " >
        <label for="from">To Date </label>
        <input type="date">
          
        </div>
      </div>


      <div class="col-sm-4">
        <div class="form-group " >
          <label for="from">Description </label>
          <input type="text" class="form-control-a-alternative">
            
          </div>
        </div>
    
        <div class="col-sm-4">
          <div class="form-group " >
            <label for="">Jv code</label>
        <select name="buyer" id="">
          <option value="01">--------</option>
          <option value="02">01</option>
          <option value="03">02</option>
          <option value="03">03</option>

        </select>
              
            </div>
          </div>
</div>

   <button type="submit" class="btn btn-info" style="float: right;">Search</button>


    </form>

</card>

<card cardTitle='Rooms '  isCollapse="true">
  
    <table class="table table-responsive" >
      <thead >
        <tr>
          <th>Number *</th>
          <th>Description</th>
          <th>Date*</th>
          <th>Vendor</th>
          <th>Status</th>
         
          <!-- <th>Comments</th> -->
         
        </tr>
      </thead>
      <tbody>
        <tr>
        <td style="font-weight: bold;">
          1
        </td>
        <td style="font-weight: bold;"> 
         order
      </td>
      
        <td style="font-weight: bold;">
         2020-09-01
        </td >
        <td style="font-weight: bold;">  
          Kings
        </td >
        <td style="font-weight: bold;"> 
          Pending approval
        </td >
      </tr>
 
      </tbody>
      
    </table>


 


</card>

</div>
</div>