<div class="conatiner " >
<br><br><br><br>
  <div class="col-md-16 " style="background-color:lightgray" >
 
    
<card cardTitle='Search '  isCollapse="true"  class="card-header">

  <form role="form " >

    <div class="row">
      <div class="col-sm-4">
    <div class="form-group " >
    
       
      <label for="code"> Code </label>
      <select name="" id="">
        <option value="0">01</option>
        <option value="0">02</option>
        <option value="0">03</option>
      </select>
     
    
    </div>
    </div>
    
    
      <div class="col-sm-4">
    <div class="form-group " >
       <label for="from date">From Date</label><br>
      <input type="date"  >
      </div>
    </div>


    <div class="col-sm-4">
      <div class="form-group " >
         <label for="to date">To Date</label>
        <input type="date">
        </div>
      </div>
    
    </div>



    <!--status-->
    <div class="row">
      <div class="col-sm-4">
    <div class="form-group " >
    
       
      <label for="Username">Source </label>
      <select name="" id="">
        <option value="0">Res2</option>
        <option value="0">Sultan</option>
        <option value="0">Vos4</option>
      </select>
    
    </div>
    </div>
    
    
     

    <div class="col-sm-4">
      <div class="form-group " >
        <label for="serial">Serial</label>
        <input type="text" class="form-control-a-alternative" placeholder="" >
          
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group " >
          <label for="recuring">Recuring</label><br>
          <input type="checkbox"  >
            
          </div>
        </div>
     
</div>




<div class="row">
  <div class="col-sm-4">
<div class="form-group " >

   
  <label for="gl period">Gl Period </label>
  <input type="text" class="form-control-x-alternative" placeholder="">

</div>
</div>


 

<div class="col-sm-4">
  <div class="form-group " >
    <label for="account">Account</label>
    <input type="text" class="form-control-a-alternative" placeholder="" >
      
    </div>
  </div>

  <div class="col-sm-4">
    <div class="form-group " >
      <label for="recuring">Parent Account</label><br>
      <input type="text" class="form-control-x-alternative" placeholder=""  >
        
      </div>
    </div>
 
</div>






<div class="row">
  <div class="col-sm-4">
<div class="form-group " >

   
  <label for="from post date">From Posting Date </label>
  <input type="date">

</div>
</div>


 

<div class="col-sm-4">
  <div class="form-group " >
    <label for="to posting date">To Posting Date</label>
    <input type="date" >
      
    </div>
  </div>

  <div class="col-sm-4">
    <div class="form-group " >
      <label for="system Locked">System Locked</label><br>
      <select name="" id="">
        <option value="0">All</option>
        <option value="0">Yes</option>
        <option value="0">No</option>
      </select>
     
        
      </div>
    </div>
 
</div>







<div class="row">
  <div class="col-sm-4">
<div class="form-group " >

   
  <label for="from post date">Voided </label>
  <select name="" id="">
    <option value="0">All</option>
    <option value="0">Yes</option>
    <option value="0">No</option>
  </select>

</div>
</div>


 

<div class="col-sm-4">
  <div class="form-group " >
    <label for="to posting date">Module</label>
    <select name="" id="">
      <option value="0">All</option>
      <option value="0">Yes</option>
      <option value="0">No</option>
    </select>
      
    </div>
  </div>

  <div class="col-sm-4">
    <div class="form-group " >
      <label for="system Locked">Posted</label><br>
      <select name="" id="">
        <option value="0">All</option>
        <option value="0">Yes</option>
        <option value="0">No</option>
      </select>
     
        
      </div>
    </div>
 
</div>

<div class="row">
  <div class="col-sm-4">
  <div class="form-group">

    <label for="">System Generated</label>
    <select name="" id="">
      <option value="0">All</option>
      <option value="0">Yes</option>
      <option value="0">No</option>
    </select>
  </div>
</div>

<div class="col-sm-4">
  <div class="form-group">
  <label for="">Balance</label>
  <select name="" id="">
    <option value="0">All</option>
    <option value="0">Yes</option>
    <option value="0">No</option>
  </select>
</div>
</div>
</div>

<div class="row" style="float: right;">
  <div class="col-sm-4">
   <button type="submit" class="btn btn-info" style="float: right;">Search</button>
  </div>


   <div class="col-sm-4" >
    <button class="btn btn-success"  ><i class="fa fa-plus"> Add New</i></button>
   </div>
  </div>


    </form>

</card>

<card cardTitle='Journal Voucher '  isCollapse="true">
  <form role="form " >
    <table class="table table-responsive" >
      <thead >
        <tr>
          <th>Serial *</th>
          <th>Code</th>
          <th>Total debit</th>
          <th>Total credit</th>
          <th>Balance</th>
          <th>Source</th>
          <th>Module</th>
          <th>Posted</th>
          <th>System Generated</th>
          <th>State</th>
          
          
          <!-- <th>Comments</th> -->
         
        </tr>
      </thead>
      <tbody>
        <tr>
        <td style="font-weight: bold;">
         1
        </td>
        <td style="font-weight: bold;"> 
        None
      </td>
      
        <td style="font-weight: bold;">
        720.00
        </td >
        <td style="font-weight: bold;">  
         720.00
        </td >
        <td>0.0</td>
        <td>None</td>
        <td>income</td>
        <td> <i  class="fa fa-check-circle fa-fw fa-2x text-success"></i></td>
        <td>Yes</td>
        <td>System Locked</td>
       
      </tr>
 
      </tbody>
      
    </table>


 
    </form>

</card>

</div>
</div>