@import '../../theme/conf';
.pages-sider {
    width: 250px;
    height: 100%;
    background: $sidebar-bg;
    overflow-x: hidden;
    @include transition(all .5s);
    border: none;
    .sidebar-top-line {
        display: block;
        width: 80%;
        position: relative;
        left: 10%;
        border-top: 1px solid $border-color;
    }
}

.fa-caret-down {
    float: right;
    padding-right: 8px;
  }

  .dropdown-container {
    display: none;
    // background-color: darkslategrey;
    padding-left: 5px;
    
  }

  

.side-menu a{
 
    font-size: 24px;
    padding: 10px 40px;
    color: white;
    display: flex;
    align-items: left;
 
 }

 .side-menu a span{
 
    // font-size: 20px;
    // padding: 10px 40px;
    color: white;
    // display: flex;
    
 }
 
 .side-menu a:hover{
  
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
 }
.side-collapsed {
    width: 0;
    /* .avatar-wrap {
        padding: 15px 4px;
        border-bottom: 1px solid transparent;
    }
    .avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: 5px 2px;
    }
    .user-info-wrap {
        transform: scale(0, 0);
    } */
}

@media (max-width:1440px) {
    .side-collapsed {
        width: 0;
    }
}

//@media (max-width:970px) {
//    .pages-sider {
//        width: 0;
//    }
//}
