<div class="pages-sider" [ngClass]="{'side-collapsed':!sidebarToggle}">
  <span class="sidebar-top-line"></span>

   <div class="side-menu">
    <!-- <div class="brand-name"> --> 
              <!-- <H1>Kev</H1> -->
    <!-- </div> -->
    <ul>
      <a class="btn "  routerLink="/dashboard"><i class="fa fa-tachometer text-primar">&nbsp;</i><span>Dashboard</span></a>
     
      <a class="btn btn-trasnparent" *ngIf="infoList[0].roles=='user'"><i class="fa fa-money  " style="color: yellow;">&nbsp;</i><span>Transaction &nbsp;</span>
          <i class="fa fa-caret-down"  ></i>
        </a>
        <div class="dropdown-container" id="dropdown" *ngIf="infoList[0].roles=='user'">
          <a style="font-size: small;" routerLink="/pages/send-money" class="btn "  ><i class="fa fa-arrow-right " style="color: lightblue;">&nbsp;</i>Send Money 
            
          </a>
          <a style="font-size: small;" class="btn " routerLink="/pages/add-room-type" ><i class="fa fa-arrow-down " style="color: lightblue;">&nbsp;</i>Withdraw </a>
          <a  style="font-size: small;"  routerLink="/pages/add-room" class="btn" ><i class="fa fa-plus " style="color: lightblue;">&nbsp;</i>Deposit</a>
          <a  style="font-size: small;"  routerLink="/pages/add-room" class="btn" ><i class="fa fa-plus " style="color: lightblue;">&nbsp;</i>Transaction History</a>
          


        </div>

        <a class="btn  btn-trasnparent" *ngIf="infoList[0].roles=='user'" (click)="click()" ><i class="fa fa-users " style="color: lightblue;">&nbsp;</i><span>Users&nbsp;</span>
          <i class="fa fa-caret-down"   ></i>
        </a>

        <div class="dropdown-container">
          <a style="font-size: small;" class="btn" routerLink="/pages/user-list"><i class="fa fa-list " style="color: lightblue;">&nbsp;</i>All</a>
          <a  style="font-size: small;"  class="btn" routerLink="/pages/new-user"><i class="fa fa-date " style="color: lightblue;">&nbsp;</i>New User</a>
          
        </div>
        <a class="btn  btn-trasnparent" *ngIf="infoList[0].roles=='user'" (click)="click()" ><i class="fa fa-calculator " style="color: lightblue;">&nbsp;</i><span>Account Statements &nbsp;</span>
          <i class="fa fa-caret-down"   ></i>
        </a>

        <div class="dropdown-container" *ngIf="infoList[0].roles=='user'">
          <a style="font-size: small;" class="btn" routerLink="/pages/guest-list"><i class="fa fa-list " style="color: lightblue;">&nbsp;</i>All</a>
          <a  style="font-size: small;"  class="btn" routerLink="/pages/add-guest"><i class="fa fa-date " style="color: lightblue;">&nbsp;</i>Latest</a>
          
        </div>
        <a class="btn  btn-trasnparent" *ngIf="infoList[0].roles=='user'"(click)="click()"  ><i class="fa fa-money fa-fw " style="color: lih;">&nbsp;</i><span>Payments &nbsp;</span>
          <i class="fa fa-caret-down"   ></i>
        </a>
 
        <div class="dropdown-container" *ngIf="infoList[0].roles=='user'">
          <a style="font-size: small;" class="btn" routerLink="/pages/payment-list"><i class="fa fa-list " style="color: lightblue;">&nbsp;</i>Payment List</a>
          <a  style="font-size: small;"  class="btn" routerLink="/pages/add-payment"><i class="fa fa-plus " style="color: lightblue;">&nbsp;</i>New Payment</a>
          <a  style="font-size: small;"><i class="fa fa-exchange " style="color: lightgreen;">&nbsp;</i>Incoming</a>
          <a style="font-size: small;"><i class="fa fa-calendar " style="color: white;">&nbsp;</i>Outdated</a>
        </div>
        <a class="btn btn-trasnparent" ><i class="fa fa-list fa-fw " style="color: lih;">&nbsp;</i><span>Todo &nbsp;</span>
        <i class="fa fa fa-caret-down"></i>
        </a>
        <div class="dropdown-container">
          <a style="font-size: small;" class="btn"  routerLink="/pages/todo-list"><i class="fa fa-list " style="color: lightblue;">&nbsp;</i>Todo List</a>
          <a  style="font-size: small;"  class="btn" routerLink="/pages/add-todo"><i class="fa fa-plus " style="color: lightgreen;">&nbsp;</i>New todo</a>

        </div>

        <a class="btn btn-trasnparent "  *ngIf="infoList[0].roles=='user'"  ><i class="fa fa-dollar fa-fw " style="color: lightsalmon;">&nbsp;</i><span>Inter Bank &nbsp;</span>
         <i class="fa fa-caret-down"   ></i>
         
         </a>    
         
        <div class="dropdown-container"*ngIf="infoList[0].roles=='user'">

          <a  style="font-size: small;"  *ngIf="infoList[0].roles=='user'" class="btn" routerLink="/pages/add-employee"><i class="fa fa-plus " style="color: lightblue;">&nbsp;</i>New Transaction</a>

        </div>
       
        <!--inventory-->


        <a class="btn btn-trasnparent "  *ngIf="infoList[0].roles=='user'" ><i class="fa fa-users fa-fw " style="color: lightgoldenrodyellow;">&nbsp;</i><span>International Transfer &nbsp;</span>
          
          
          </a>    
          
        
         <!------>

        <a class="btn "  *ngIf="infoList[0].roles=='user'" routerLink="/students"><i class="fa fa-envelope fa-fw " style="color: lightgreen;">&nbsp;</i><span>Mails</span></a>
        <a class="btn "  *ngIf="infoList[0].roles=='user'" routerLink="/students"><i class="fa fa-briefcase fa-fw " style="color: lightgray;">&nbsp;</i><span>Archieves</span></a>
        <a class="btn "  * routerLink="/students"><i class="fa fa-cogs fa-fw " style="color: lightgray;">&nbsp;</i><span>Settings</span></a>
        <a class="btn "  routerLink="/pages/profile"><i class="fa fa-user fa-fw " style="color: lih;">&nbsp;</i><span>Profile</span></a>
        <!-- <a class="btn"><i="faChalkboardTeacher">&nbsp;</i><span>Teachers</span></a>
        <a class="btn"><i="faSchool">&nbsp;</i><span>Schools</span></a>
        <a class="btn"><i="faMoneyBillAlt">&nbsp;</i><span>Income</span></a>
        <a class="btn"><i="faQuestion">&nbsp;</i><span>Help</span></a>
        <a class="btn"><i="faCog">&nbsp;</i><span>Settings</span></a> -->

        
    </ul>
    
    
</div>
</div>
