
<div style="color: gyay;
text-align: center; " >
<h3  style="font-size: x-large;font-family: sans-serif; font-weight: bold;">
    Hotel Ghana Limited

</h3>
</div>

<div class="container" style="padding: 8%;">

<div class="row  ">
  <div class="col-md-3 animated fadeIn" style="width: 30%; height: 50%;"  routerLink ="/pages/index" >
    <img src="/assets/images/admin.jpg"   alt="admin" class="image" >
    <div class="card card-block tip-card" >
   
      <div class="tip-msg">
        <h3>Admin</h3>
        <span> </span>
      </div>
    
        <i routerLink="/room/room-list" class="fa fa-check-circle fa-fw fa-2x text-success"></i>
     
    </div>
  </div>


  <div class="col-md-3 animated fadeIn"style="width: 25%; "   >
    <img src="/assets/images/restaurant.jpg"   alt="admin" class="image" >
    <div class="card card-block tip-card" >
      <div class="tip-msg">
        <h3>Restaurant</h3>
        <span> </span>
      </div>
    
        <i routerLink="/room/room-list" class="fa fa-check-circle fa-fw fa-2x text-warning"></i>
     
    </div>
  </div>

  <div class="col-md-3 animated fadeIn" style="width: 30%; height: 50%;" routerLink ="/features/feature-list" >
    <img src="/assets/images/guest.jpg"   alt="admin" class="image" >
    <div class="card card-block tip-card " >
      <div class="tip-msg">
        <h3>Guest</h3>
        <span></span>
      </div>
    
        <i routerLink="/room/room-list" class="fa fa-check-circle fa-fw fa-2x text-info"></i>
     
    </div>
  </div>





  </div>


</div>