     
 
 
<div class=" container text-center" style="margin: 8px;">
  <div class="todo" style="float: right;">
    <du-todolist></du-todolist>
</div>

  <div class="links " style="float: left;">
     <a routerLink="/guest/guest-list" class="btn btn-success ">  Guest List</a>
     <br><br>
     <a routerLink="/guest/add-guest" class="btn btn-info ">Add New Guest</a>
 
     <br><br>
     <a routerLink="/guest/view-details" class="btn btn-info ">Archieve Guest</a>

     <br><br>
     <a routerLink="/dashboard" class="btn btn-danger ">Dashboard</a>
 

 

</div>
<router-outlet></router-outlet>

 </div>
