
 
 
<div class=" container text-center" style="margin: 8px;">
  <div class="todo" style="float: right;">
    <du-todolist></du-todolist>
</div>





<div class="links " style="float: left;">
  <a routerLink="/employees/employee-list" class="btn btn-info "> Employee List</a>
  <br><br>

  <a routerLink="/employees/add-employee" class="btn btn-info ">Add New Employee</a>

  <br><br>
  <a routerLink="/dashboard" class="btn btn-danger ">Dashboard</a>

</div>
  
<router-outlet></router-outlet>
</div>

 
